<section id="program-1">
  <h2>Project 1
    <div class="btn-group pull-right">
      <a class="btn btn-small" href="../parallelProg01/">Source</a>
      <a class="btn btn-small" href="../parallelProg01/parallelProg01.tgz">Tar File</a>
    </div>
  </h2>

  <p>
    In this assignment we were required to write a program that
    would read numbers from a given text file. For each number
    read, the program would do a fake computation
    taking <code>computeEffort</code> time. From this program we
    collected timing data on files with 1, 2, 4, 8, 16, 32, 64,
    128, 256, and 512 numbers.
  </p>

  <h3>compute.c</h3> 

  <div ng-controller="textEditorController">
    <div editor-text="../parallelProg01/compute.c"></div>
  </div>

  <p>
    We can see from the file compute.h that <code>effort</code>
    determines the amount of time that the
    function <code>Compute(float effort)</code> waits. This is
    accomplished using a function <code>nanosleep()</code>
    provided in time.h.
  </p>

  <h3>readNumbers.c</h3>

  <div ng-conroller="textEditorController">
    <div editor-text="../parallelProg01/readNumbers.c"></div>
  </div>

  <p>
    This file opens a file with given
    name <code>filename</code>. All the proper file opening and
    closing is preformed. Of interest is line 20. In the while
    loop we can see that for each number read in it calls the
    previously discussed <code>Compute(effort)</code>.
  </p>

  <h2>Results/Discussion</h2>

  <h3>Figure 1</h3>
  <figure>
    <center>
      <img src="../parallelProg01/plots/timing.png"  class="img-responsive">
      <figcaption>		
	Program readNumbers was run on text files with 1, 2, 4 , 8, 16, 32,
	64, 128, 256, 512 numbers.
      </figcaption>
    </center>
  </figure>

  <p>
    Looking at Figure 1 we can see a very apparent linear
    relationship between our data points. As the number of
    numbers read in doubles the time appears to double as
    well. This agrees with the algorithm that we have set
    up in readNumbers.c . Since the program waits a constant
    time <code>effort</code>, analysis of algorithms tells
    us that the code should take O(N) time.
  </p>

</section>
