<div class="container">

  <div class="row-fluid">
    <div class="well">
      <h1>About me</h1>
    </div>
    <p>
      I am Chris Ostrouchov a graduate student at the University of Tennessee.
      I am in the Material Science and Engineering department working for
      <a href="http://web.utk.edu/~mse/faculty/weber/default.html">Dr. William Weber</a>
      . My research focus is on the effect of radiation on materials with an emphasis in computation. 
    </p>
  </div>

</div><!-- /.container -->
