<h1>Notes on setup of cluster</h1>
<p>
  To setup the cluser I pretty much ran my whole opperation through google.
  Here are the steps that I went through to have an opperating cluster.

  Install opperating system (included sshd, ip address name) <br>
  Use Yum to install python, git, openmpi-dev, tmux <br>
  Add users costrouc (set passwd) <br>
  Auto config for openmpi library <br>

  Seting up keyless authorization (key-gen)<br>
  Establishing a hostfile so that I know which computers I can ssh to <br>
</p>
